/* Estilos gerais */
.section #about {
    background: #1e2d59;
}

#about {
    background: #1e2d59;
    z-index: 11;
    position: relative;
}

#about .container {
    margin: 0;
    padding-top: 4rem;
}

#about .container .grid {
    background-color: #1e2d59;
    z-index: 100;
}

#about .image {
    position: relative;
    background-color: #1e2d59;
    margin: auto;
}

#about .image img {
    border-radius: 0.25rem;
    height: 15rem;
    width: 15rem;
    position: relative;
    z-index: 1000;
}

#about .blog-img img {
    max-width: 40%;
    max-height: 40%;
    height: auto;
    width: auto;
}

#about .title {
    color: var(--base-color-second);
    z-index: 99;
    background-color: #1e2d59;
}

#about .text {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--text-color-light);
    background-color: #1e2d59;
    z-index: 99;
    margin-bottom: 14rem;
}

#about .text #kindelia {
    color: var(--base-color-second);
    font: 700 1.75rem;
}

/* Responsividade */

/* Dispositivos pequenos: até 767px */
@media (max-width: 767px) {
    #about .container {
        padding-top: 4rem;
    }

    #about .image img {
        height: 15rem;
        width: 15rem;
        margin-top: -8rem;
    }

    #about .text {
        margin-bottom: 6rem;
    }

    #about .text .title {
        font-size: 2rem;
    }

    #about .text p {
        font-size: 1rem;
    }
}

/* Dispositivos médios: 768px > */
@media (min-width: 768px) and (max-width: 1022px) {
    #about .container {
        padding-top: 5rem;
    }

    #about .image img {
        height: 18rem;
        width: 18rem;
        margin-top: -10rem;
    }

    #about .text {
        margin-bottom: 8rem;
    }

    #about .text .title {
        font-size: 2.5rem;
    }

    #about .text p {
        font-size: 1.15rem;
    }
}

/* Dispositivos grandes: 1023px > */
@media (min-width: 1023px) {
    #about .container {
        padding-top: 6rem;
    }

    #about .image img {
        height: 22rem;
        width: 22rem;
        margin-top: -13rem;
    }

    #about .text {
        margin-bottom: 10rem;
    }

    #about .text .title {
        font-size: 3.5rem;
    }

    #about .text p {
        font-size: 1.25rem;
    }
}
