@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import 'reset.css';
@import 'variables.css';

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: #213773;
    -webkit-font-smoothing: antialiased;
}

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}

.button {
    color: var(--text-color-light);
    background-color: var(--base-color);
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem var(--body-font);
    transition: background 0.4s;
    z-index: 999;
}

.button:hover {
    background: var(--body-color);
    color: var(--base-color);
    z-index: 999;
}

/* ===== Layout ===== */

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
}

/* .section {
    padding: calc(5rem + var(--header-height)) 0;
  } */

.section .title {
    margin-bottom: 1rem;
}

.section .subtitle {
    font-size: var(--subtitle-font-size);
}

.section header {
    margin-bottom: 4rem;
}

.section header strong {
    color: var(--base-color);
}


@media (min-width: 1023px) {

    /*Reusable classes*/
    .container {
        max-width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }

    .section {
        padding: 10rem 0;
    }

    .button {
        height: 3.125rem;
    }

    .section header,
    #testimonials header {
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
}
