footer {
    background: var(--base-color);
    position: relative;
    z-index: 99;
}

footer.section {
    padding: 4rem 0;
}

footer .logo {
    display: inline-block;
    margin-bottom: 1.5rem;
    color: var(--base-color-second);
}

footer .brand p {
    color: var(--text-color-light);
    margin-bottom: 0.75rem;
}

footer i {
    font-size: 1.5rem;
    color: var(--text-color-light);
}

footer .social {
    grid-auto-flow: column;
    width: fit-content;
}

footer .social a {
    transition: 0.3s;
    display: inline-block;
}

footer .social a:hover {
    transform: translateY(-8px);
}

/* Responsividade */

/* Dispositivos pequenos: até 767px */
@media (max-width: 767px) {
    footer.section {
        padding: 2rem 0;
    }

    footer .logo {
        font-size: 1.5rem;
    }

    footer .social {
        gap: 1rem;
    }
}

/* Dispositivos médios: 768px > */
@media (min-width: 768px) and (max-width: 1022px) {
    footer.section {
        padding: 2.5rem 0;
    }

    footer .logo {
        font-size: 2rem;
    }

    footer .social {
        gap: 1.5rem;
    }
}

/* Dispositivos grandes: 1023px > */
@media (min-width: 1023px) {
    footer.section {
        padding: 2.75rem 0;
    }

    footer .container {
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    footer .logo {
        font-size: 2.25rem;
    }

    footer .social {
        gap: 2rem;
    }
}
